body, td, textarea, input {
  font-size: 0.9em;
}

hr {
  background-color: #ddd;
  border: medium none;
  height: 1px;
}

hr.docs {
  width: 50%;
  clear: left;
  float: left;
  margin-left: 4%;
}

@media (max-width: 1180px) {
  hr.docs {
    width: 90%;
    float: none;
  }
}

a img {
  width: 100%;
}

blockquote a img {
  width: auto;
}

iframe {
  max-width: 100%;
  max-height: 325px;
}

@media (min-width: 481px) and (max-width: 520px) {
  .header .left li a{
    padding: 0 5px;
  }

  .header .left ul {
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  .header .left li {
    padding: 5px 15px;
  }

  .header .left h1 {
    padding: 0 15px 5px;
  }

  .header .right {
    display: block;
  }

  .header .right iframe:first-child {
    display: block;
    padding-bottom: 10px;
  }
}