  hr {
    width: 50%;
    clear: left;
    float: left;
    margin-left: 4%;
    background-color: #ddd;
    border: medium none;
    height: 1px;
  }

@media (max-width: 1180px) {
  hr {
    width: 90%;
    float: none;
  }
}

a img {
  width: 100%;
}

blockquote a img {
  width: auto;
}
